@import url('fonts.css');

* {
    padding: 0;
    margin: 0;
}

.video-screen__body {   
    position: relative;
    z-index: 2;            
}

.full-screen__video {    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 470px;     
    object-fit: cover;    
}

.line-1 {
    display: grid;
    grid-template-columns: auto 45% auto;    
    border-color: black;
}

.line-2 {
    display: grid;
    grid-template-columns: auto 35% auto;   
    border-color: black;
}

.line-3 {
    display: grid;
    grid-template-columns: auto 40% auto;    
    border-color: black;
}

.line-4 {
    display: grid;
    grid-template-columns: auto 65%;    
    border-color: black;
}

.video-text {    
    font-family: "Lato-Bold";        
    font-size: 100px;    
    color: white;
    background-color: black; 
    letter-spacing: 2px;
    text-align: justify;  
    padding-left: 15px;   
}

.box {    
    border: 1rem solid;  
    border-color: black;      
}

.footer {
    z-index: 3;
    height: 400px;
    background-color: black;    
}

@media (min-width: 1439.8px) {
    .nav__menu-tab {
        display: none;
    }

    .header__style-tab {
      display: none;
    }

    .recent-transactions-tab {
      display: none;
    }
}

@media (max-width: 1720px) {
    .video-text {    
        font-size: 70px;
    }   
    
    .full-screen__video {
        height: 320px;
    }
}

@media (max-width: 1665px) {
    .video-text {    
        font-size: 50px;
    }   
    
    .full-screen__video {
        height: 240px;
    }
}

@media (max-width: 1545px) {
    .video-text {    
        font-size: 60px;
    }   
    
    .full-screen__video {
        height: 280px;
    }
}

@media (max-width: 1095px) {
    .video-text {    
        font-size: 50px;
    }   

    .full-screen__video {
        height: 230px;
    }      
}

@media (max-width: 930px) {
    .box {
        border: 0.6rem solid; 
    }

    .video-text {    
        font-size: 38px;
    }   
    
    .full-screen__video {
        height: 180px;          
    }     

}

@media (min-width: 750px) {
    .small {
        display: none;
    }    
}

@media (max-width: 749.8px) {
    .big {
        display: none;
    }

    .line-1 {        
        grid-template-columns: auto 40%;        
    }

    .line-2 {        
        grid-template-columns: auto 55% auto;        
    }

    .line-3 {        
        grid-template-columns: 30% auto;        
    }

    .line-4 {        
        grid-template-columns: 100%        
    }

    .line-5 {   
        display: grid;
        grid-template-columns: auto 25% auto;         
        border-color: black;                 
    }

    .line-6 {   
        display: grid;
        grid-template-columns: auto 35%;         
        border-color: black;                 
    }

    .video-text {    
        font-size: 65px;
    }  

    .full-screen__video {
        height: 460px;
    }         
}

@media (max-width: 681px) {
    .video-text {    
        font-size: 55px;
    }  

    .full-screen__video {
        height: 390px;
    }         
}

@media (max-width: 596px) {
    .video-text {    
        font-size: 42px;
    }   

    .full-screen__video {
        height: 300px;
    }         
}

@media (max-width: 512px) {
    .video-text {            
        font-size: 38px;
    }  
    
    .full-screen__video {
        height: 270px;
    }           
}        

@media (max-width: 402px) {
    .video-text {            
        font-size: 34px;
    }  
    
    .full-screen__video {
        height: 240px;
    }           
}        

@media (max-width: 370px) {
    .box {
        border: 0.3rem solid; 
    }
     
    .video-text {            
        font-size: 28px;
    }  
    
    .full-screen__video {
        height: 200px;
    }           
}        

